@import "tailwindcss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#load-controls button {
  background: linear-gradient(90deg, #bb86fc, #9e6dff);
}

#seek-slider {
  -webkit-appearance: none;
  appearance: none;
  background: #535353; /* bg-dark-400 */
}

#seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #bb86fc; /* bg-primary */
  border-radius: 9999px;
  cursor: pointer;
}

#seek-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #bb86fc; /* bg-primary */
  border-radius: 9999px;
  cursor: pointer;
  border: none;
}
